<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Oops!</strong> This is an alert message and should be handled by a controller
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>